{{> base 
  subject="Soutenance  refusé !"
  content="
    <p>Malheuresement Votre demande de soutenance a été refusé .</p>
    
    
    
    <p>Veuillez consulter votre espace personnel pour plus de détails et les prochaines étapes.</p>
  "
 
}}
