{{> base 
  subject="Soutenance acceptée !"
  content="
    <p>Félicitations ! Votre demande de soutenance a été acceptée .</p>
    
   
    
    <p>Veuillez consulter votre espace personnel pour plus de détails et les prochaines étapes.</p>
  "
 
}}
