{{> base 
  subject="université registré !"
  content="
    <p>  Une nouvelle université complete sa registration .</p>
    
    
    
    <p>Veuillez consulter votre espace personnel pour plus de détails et les prochaines étapes.</p>
  "
 
}}
